body {
    margin: 0;
    padding: 0;
    min-height: 80vh;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  header 
  ul {
    background-color:hsla(242, 41%, 62%, 0.514);
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none; /* this removes the bullet points for li */
    padding: 10px;
    outline: 1px solid black;
  }
  

  main {

     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border: 1px solid rgb(177, 118, 118); /*for easy visualisation */
  }
  .box {
    background-color: lightcoral;
    width: 200px;
    border: 1px black solid;
    margin: 5px;
    padding: 10px;
  }
  
  footer {
    background-color: rgba(70, 66, 95, 0.377);
    padding: 5px;
  }
  